.registration-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #dbf4c4;
    font-family: Arial, sans-serif;
}
  
h1 {
    text-align: center;
    margin-bottom: 20px;
}
  
form {
    display: flex;
    flex-direction: column;
}
  
.form-group {
    margin-bottom: 20px;
}
  
label {
    font-weight: bold;
    font-size: 16px;
}
  
input {
    display: flex;
    width: 350px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}
  
button {
    padding: 10px 20px;
    background-color: #06361d;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}
  
.preview {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
}
  